# mMARCO Passage Japanese dev/small set

This notebook shows how to access the [Japanese translation](https://arxiv.org/abs/2108.13897) of [MS Marco Passage Dataset](https://arxiv.org/abs/1611.09268) using [ir_datasets](https://github.com/allenai/ir_datasets/).

## Dataset

We use `dev/small` subset as an example.

In [1]:
import sys
!{sys.executable} -m pip install -q ir_datasets

In [2]:
import ir_datasets
dataset = ir_datasets.load("mmarco/v2/ja/dev/small")

## docstore

In [3]:
%%time
docstore = dataset.docs_store()
docstore.get('243').text

[INFO] [starting] building docstore
[INFO] If you have a local copy of https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv, you can symlink it here to avoid downloading it again: /home/jupyter/.ir_datasets/downloads/85614bd4dac3aa221c0b657d5cc71695
[INFO] [starting] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv
docs_iter:   0%|                                   | 0/8841823 [00:01<?, ?doc/s]
https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv: 0.0%| 0.00/3.92G [00:00<?, ?B/s]
https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv: 0.0%| 24.6k/3.92G [00:00<7:15:23, 150kB/s]
...
https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv: 99.5%| 3.91G/3.92G [02:52<00:00, 22.6MB/s]
                                                                                ctions/japanese_collection.tsv: 99.8%| 3.92G/3.92G [02:53<00:00, 22.6MB/s]
                                                                                                                                                       [INFO] [finished] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv: [02:53] [3.92GB] [22.6MB/s]
docs_iter:   0%|                                   | 0/8841823 [02:55<?, ?doc/s]
https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/collections/japanese_collection.tsv: [02:53] [3.92GB] [22.6MB/s]
docs_iter: 100%|██████████████████| 8841823/8841823 [05:37<00:00, 26225.13doc/s]
[INFO] [finished] docs_iter: [05:37] [8841823doc] [26225.06doc/s]
[INFO] [finished] building docstore [05:37]

CPU times: user 3min, sys: 21.4 s, total: 3min 22s
Wall time: 5min 45s

'ジョン・メイナード・ケインズ、第1男爵ケインズ、CB、FBA（/Ãƒâ€¹Ã‚Ë†keÃƒâ€°Ã‚Âªnz / KAYNZ; 1883年6月5日ÃƒÂ¢Ã‚â‚¬Ã‚â€œ1946年4月21日）は、そのアイデアが現代のマクロ経済学の理論と実践、そして政府の経済政策を根本的に変えた英国の経済学者。'

## docs_iter

In [7]:
for doc in dataset.docs_iter()[0:5]:
    print(f'{doc.doc_id}\t{doc.text}')

0	マンハッタン計画の成功には、科学的知性と同様に、科学的精神の中でのコミュニケーションの存在も同様に重要でした。原子研究者とエンジニアの印象的な業績にぶら下がっている唯一の雲は、彼らの成功が本当に意味したことです。何十万もの罪のない命が失われました。
1	マンハッタン計画とその原子爆弾は、第二次世界大戦を終わらせるのに役立ちました。原子力の平和利用の遺産は、歴史と科学に影響を与え続けています。
2	マンハッタン計画に関するエッセイ-マンハッタン計画マンハッタン計画は、原子爆弾を可能にするかどうかを確認することでした。このプロジェクトの成功は、世界を永遠に変え、この強力な何かが人工的になり得ることを知らせます。
3	マンハッタン計画は、第二次世界大戦中に最初の原子爆弾を開発するために実施されたプロジェクトの名前でした。具体的には、レズリーR.グローブ将軍の管理下にある、米陸軍工兵隊の管理下にある194×2〜1946年のプロジェクトの期間を指します。
4	各ボリュームのバージョンと補完的なWebサイト。最初のウェブサイト「マンハッタン計画：インタラクティブな歴史」は、Office of History and Heritage Resourcesのウェブサイトhttp：//www.cfoで入手できます。 doe.gov/me70/history。歴史遺産資源局と国家核安全保障局

## queries_iter

In [8]:
import pandas as pd
pd.DataFrame(dataset.queries_iter())

[INFO] [starting] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/qrels.dev.small.tsv
[INFO] [finished] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/qrels.dev.small.tsv: [00:00] [143kB] [263kB/s]
[INFO] If you have a local copy of https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/queries/dev/japanese_queries.dev.tsv, you can symlink it here to avoid downloading it again: /home/jupyter/.ir_datasets/downloads/23c86ba93c63891a95382d8e8198199f
[INFO] [starting] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/queries/dev/japanese_queries.dev.tsv
[INFO] [finished] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/queries/dev/japanese_queries.dev.tsv: [00:01] [5.82MB] [4.23MB/s]

     query_id                                      text
0           2                              アンドロゲン受容体の定義
1        1215                        カナダの3つのレベルの政府とその責任
2        1288                                    60の3/5
3        1576                               60x40スラブコスト
4        2235                          ベテル大学は何年に設立されました
...       ...                                       ...
6975  1102335                             なぜ人々は車を買うのですか
6976  1102351  なぜジェファーソンとスタントンはこれらの同様の抜粋を彼らの文書に含めるのですか？
6977  1102390                         なぜ子供たちは攻撃的になるのですか
6978  1102393                         なぜ聖パトリックの日を祝うのですか
6979  1102400                             なぜクマは冬眠するのですか

[6980 rows x 2 columns]

## qrels_iter

In [9]:
pd.DataFrame(dataset.qrels_iter())

     query_id   doc_id  relevance iteration
0      300674  7067032          1         0
1      125705  7067056          1         0
2       94798  7067181          1         0
3        9083  7067274          1         0
4      174249  7067348          1         0
...       ...      ...        ...       ...
7432   147073  8008770          1         0
7433   243761  8008787          1         0
7434   162662  8008977          1         0
7435   247194  8009319          1         0
7436   195199  8009377          1         0

[7437 rows x 4 columns]

## scoreddocs_iter (for reranking)

In [10]:
pd.DataFrame(dataset.scoreddocs_iter())

[INFO] If you have a local copy of https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/runs/run.bm25_japanese-msmarco.txt, you can symlink it here to avoid downloading it again: /home/jupyter/.ir_datasets/downloads/a3908dd2cec7c1d66008eab3b455b4d6
[INFO] [starting] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/runs/run.bm25_japanese-msmarco.txt
[INFO] [finished] https://huggingface.co/datasets/unicamp-dl/mmarco/resolve/main/data/google/runs/run.bm25_japanese-msmarco.txt: [00:19] [130MB] [6.76MB/s]

        query_id   doc_id   score
0              2  3214931    -1.0
1              2  1001873    -2.0
2              2  1782337    -3.0
3              2  6285817    -4.0
4              2  7496506    -5.0
...          ...      ...     ...
6817441  1102400  8217985  -996.0
6817442  1102400  8767065  -997.0
6817443  1102400  1374339  -998.0
6817444  1102400  1409878  -999.0
6817445  1102400  1776192 -1000.0

[6817446 rows x 3 columns]